<template>
  <div>
    <div v-html="$t('close.header')"></div>

    <b-card
      id="alt"
      v-html="$t('vectoriel')"
    />

    <h3 v-html="$t('close.more')"></h3>
    <ul>
      <li v-html="$t('close.blog')"></li>
      <li
        v-html="$t('close.cloud', {
          link: `${this.$t('cloud.vectoriel')}`
        })"
      ></li>
    </ul>
  </div>
</template>
