<template>
  <div>
    <div v-html="$t('close.header2')"></div>

    <b-card id="alt">
      <div v-html="$t('drive')"></div>
    </b-card>

    <h3 v-html="$t('close.more')"></h3>
    <ul>
      <li
        v-html="$t('close.chatons', {
          link: 'https://chatons.org/search/by-service?service_type_target_id=121&field_software_target_id=266'
        })"
      ></li>
      <li v-html="$t('close.blog')"></li>
      <li
        v-html="$t('close.cloud', {
          link: `${this.$t('cloud.drive')}`
        })"
      ></li>
    </ul>
  </div>
</template>
