<template>
  <div>
    <div v-html="$t('close.header')"></div>

    <b-card
      id="alt"
      v-html="$t('mindmap')"
    />

    <h3 v-html="$t('close.more')"></h3>
    <ul>
      <!-- <li
        v-html="$t('close.doc', {
          link: 'https://docs.framasoft.org/fr/mindmaps/deframasoftiser.html',
        })"
      ></li> -->
      <li
        v-html="$t('close.chatons', {
          link: 'https://chatons.org/search/by-service?service_type_target_id=141'
        })"
      ></li>
      <li v-html="$t('close.blog')"></li>
    </ul>
  </div>
</template>
