<template>
  <div>
    <div v-html="$t('dead.header', { framaservice: $t('color.bookin')})"></div>

    <h3 v-html="$t('dead.more')"></h3>
    <ul>
      <li v-html="$t('dead.cloud', { link: `${$t('cloud.bookin')}` })"></li>
      <li v-html="$t('dead.contact')"></li>
    </ul>
  </div>
</template>
