<template>
  <div>
    <div v-html="$t('close.header')"></div>

    <b-card
      id="alt"
      v-html="$t('sphere')"
    />

    <h3 v-html="$t('close.more')"></h3>
    <ul>
      <li
        v-html="$t('close.chatons', {
          link: 'https://chatons.org/search/by-service?service_type_target_id=119'
        })"
      ></li>
      <li v-html="$t('close.blog')"></li>
    </ul>
  </div>
</template>
