<template>
  <div>
    <div v-html="$t('close.header')"></div>

    <b-card
      id="alt"
      v-html="$t('my')"
    />
    <p>
      Shaarli n’étant pas un logiciel nativement multi-utilisateur,
      il existe peu d’hébergeurs qui proposent et ouvrent ce service au public.
      (voir <a href="https://forum.chatons.org/t/instances-shaarli-chez-les-chatons/1143">cette
        discussion</a>)
    </p>

    <h3 v-html="$t('building.more')"></h3>
    <ul>
      <li
        v-html="$t('close.doc', {
          link: 'https://docs.framasoft.org/fr/shaarli/deframasoftiser.html',
        })"
      ></li>
      <li v-html="$t('building.cloud', { link: `${$t('cloud.my')}` })"></li>
      <li v-html="$t('building.contact')"></li>
    </ul>
  </div>
</template>
